[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/obaid22192
[access "refs/for/refs/*"]
	read = group user/obaid22192
	push = group user/obaid22192
	label-Code-Review = -2..+2 group user/obaid22192
	label-Verified = -1..+1 group user/obaid22192
	rebase = group user/obaid22192
	removeReviewer = group user/obaid22192
	submit = group user/obaid22192
[access "refs/heads/*"]
	read = group user/obaid22192
	create = group user/obaid22192
	push = +force group user/obaid22192
	pushMerge = group user/obaid22192
[access "refs/tags/*"]
	push = +force group user/obaid22192
	pushTag = group user/obaid22192
	pushSignedTag = group user/obaid22192
