#id_whoIam{
	     margin-top:450px;
		 margin-left:370px;
		 margin-right:50px;
		 width:700px;
                height:720px;
         
		 
         
             background-clip:content-box;
                
		
		}
		#bioheading{color:#000;;}
		#desc{color:#000;; font-size:30px;}
		span{color:#4512d8}