#header{
	    margin-top:-320px;
		 margin-left:55px;
		 margin-right:50px;
         width:1280px;
         height:100px;
	
		 background:none;
		 }
#heading {color:#fcfdfd; margin-left:180px;}
		#heading:hover{color:#000000;}